@using WAVC.Models;
@{
    ViewData["Title"] = "Home Page";
}
All Users:
<form action="Home/FriendRequest">
    <select name="id">
        @foreach (var user in (List<ApplicationUser>)ViewBag.Users)
        {
            <option value="@user.Id">@user.UserName</option>
        }
    </select>
    <input type="submit" value="Send request" />
</form>
<br />
Requests:
@foreach (var user in (List<ApplicationUser>)ViewBag.FriendRequests)
{
    <form action="Home/AcceptRequest">
        <input name="user" value="@user.Id" hidden />
        @user.UserName<br />
        <input type="radio" name="result" value="yes" /> Yes 
        <input type="radio" name="result" value="no" /> No<br />
        <input type="submit" value="Accept request" />
    </form>
}
<br />
Friends:
<ul>
    @foreach (var friend in (List<ApplicationUser>)ViewBag.Friends)
    {
        <li id="@friend.Id">@friend.UserName</li>
    }
</ul>
