@using WAVC.Models;
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/util.js"></script>
<script src="~/js/mainPage.js"></script>
Search
<input id="search" onkeyup="Search()" />
<div id="results"></div>
<br />
Requests:
<div id="requests-container"></div>
Friends:
<ul id="friends-container"></ul>
<div id="delete-button-container">
    @if (ViewBag.friend != null)
    {
        <script>
            //self destroying code xd
            history.state = { name: "@ViewBag.friend.Name", surname: "@ViewBag.friend.Surname", id: "@ViewBag.friend.Id" };
            window.dispatchEvent(new PopStateEvent("popstate", { state: history.state }));
        </script>
    }
</div>
<span id="delete-result"></span>

<script class="delete-me">
    @foreach (var user in (List<ApplicationUser>)ViewBag.FriendRequests)
    {
        @Html.Raw("DisplayNewRequest(\"" + user.Id+ "\", \"" + user.Name+ "\", \"" + user.Surname+ "\")\n")
    }
    @foreach (var friend in (List<ApplicationUser>)ViewBag.Friends)
    {
        @Html.Raw("DisplayNewFriend(\"" + friend.Id+ "\", \"" + friend.Name+ "\", \"" + friend.Surname+ "\")\n")
    }
    DeleteElements("delete-me");
</script>
